APP_ENV=development
LOG_LEVEL=INFO
AWS_REGION=us-east-1
AWS_PROFILE=default
AWS_ACCOUNT_ID=
ATHENA_CATALOG=awsdatacatalog
S3_DATA_LAKE_BUCKET=fdp-batch-only-change-me
STREAMING_S3_BUCKET=fdp-streaming-only-change-me
S3_BATCH_RAW_PREFIX=batch/raw
S3_BATCH_REJECTED_PREFIX=batch/rejected
S3_BATCH_SILVER_PREFIX=batch/silver
S3_BATCH_GOLD_PREFIX=batch/gold
S3_STREAMING_RAW_PREFIX=streaming/raw
S3_STREAMING_REJECTED_PREFIX=streaming/rejected
S3_STREAMING_SILVER_PREFIX=streaming/silver
S3_STREAMING_GOLD_PREFIX=streaming/gold
S3_STREAMING_CHECKPOINT_PREFIX=streaming/checkpoints
KINESIS_STREAM_NAME=fdp-dev-events
DATABRICKS_HOST=
DATABRICKS_TOKEN=
DATABRICKS_CLUSTER_ID=
DBT_PROFILES_DIR=./dbt_financial
DBT_TARGET=dev
ATHENA_WORKGROUP=primary
ATHENA_STAGING_DIR=s3://fdp-batch-only-change-me/athena/results/
STREAMING_GLUE_DATABASE=fdp_dev_streaming_lakehouse
STREAMING_ATHENA_STAGING_DIR=s3://fdp-streaming-only-change-me/athena/results/
ATHENA_DBT_DATA_DIR=s3://fdp-batch-only-change-me/dbt/
STREAMING_ATHENA_DBT_DATA_DIR=s3://fdp-streaming-only-change-me/dbt/
ATHENA_SOURCE_SCHEMA=fdp_dev_batch_lakehouse
ATHENA_TARGET_SCHEMA=fdp_dev_batch_analytics
STREAMING_ATHENA_TARGET_SCHEMA=fdp_dev_streaming_analytics
GE_ROOT_DIR=./great_expectations
AIRFLOW_UID=50000
QUICKSIGHT_OUTPUT_DIR=./quicksight/output
PLAID_BATCH_CUSTOMER_ID=CUST-NFCU-001
PLAID_BATCH_FULL_NAME=Navy Federal Member
PLAID_BATCH_EMAIL=member@example.com
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox
PLAID_ACCESS_TOKEN=
PLAID_INSTITUTION_ID=ins_56
PLAID_DAYS_REQUESTED=30
PLAID_REDIRECT_URI=
PLAID_WEBHOOK_URL=
PLAID_CLIENT_NAME=Production Pipeline
ALPHA_VANTAGE_API_KEY=
ALPHA_VANTAGE_DEFAULT_STATE=active
ALPHA_VANTAGE_DAILY_OUTPUTSIZE=compact
ALPACA_API_KEY_ID=
ALPACA_API_SECRET_KEY=
ALPACA_STREAM_BASE_URL=wss://stream.data.alpaca.markets
ALPACA_STREAM_DATA_VERSION=v2
ALPACA_STREAM_FEED=iex
ALPACA_STREAM_USE_TEST=false
ALPACA_STREAM_SYMBOLS=AAPL,MSFT,VOO
ALPACA_BROKER_ACCOUNT_ID=ACCT-NFCU-BROKERAGE-001
ALPACA_BROKER_CUSTOMER_ID=CUST-NFCU-BROKERAGE-001
ALPACA_COUNTRY_CODE=US
ALPACA_RISK_SCORE=20
