.DS_Store
.env
.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.spark-ivy-cache/
dist/
build/
*.egg-info/
htmlcov/
.coverage
logs/
airflow/logs/
airflow/airflow-webserver.pid
data/generated/
data/external_sources/
data/lakehouse/
airflow/.venv/
dbt_financial/target/
dbt_financial/logs/
dbt_financial/profiles.yml
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/environments/*/.terraform/
terraform/environments/*/terraform.tfstate
terraform/environments/*/terraform.tfstate.backup
terraform/environments/*/terraform.tfvars
great_expectations/gx/uncommitted/
great_expectations/results/
quicksight/output/
quicksight/streaming_output/
reports/
tableau/output/
